#nav-dropper {
  background-color: #FFF;
  position: fixed;
  top: -100px;
  width: 100%;
  height: inherit;
  display: block;
  transition: top 0.3s;
  z-index: 845654636436;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .dropper-logo-style {

       height: 3rem;

  }

}

#nav-dropper a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding-bottom: 1.5rem;
  text-decoration: none;
  font-size: 17px;
}

#nav-dropper a:hover {
  color: black;
}

