

.hero-slider-container{

    
    height: inherit;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;

    // background-color: #03c7c1;

    .special-intro {

        margin-top: 20rem;
        margin-left: 1.5rem;
    }

}

.announcement {

    background-color: #5c03b1;
    color: #FFFFFF;


}