.naked-nav {

    background-color: transparent;
    height: inherit;
}

.custom-logo-style {

height: 5rem; 
}

.plus-button-style {

height: 5rem;
padding-top: 1.5rem; 
}

// hero cover css 


.big-image {
  height: 70vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("/img/homepage-hero.jpg");
}

.cover-text {

    font-size: 5rem;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}